.container{
    margin-top: 20px;
    height: 300px;
    width:500px;
    border: 1px solid black;
    /* margin-left: 20px; */
}

#head{
    font-size: 30px;
    margin-left: 30px;
}

.labelname{
    font-size: 20px;
    margin-left: 30px;
}

.inputname{
    margin-left: 30px;
    width: 400px;
    height: 20px;
}

.buttonok{
    text-align: center;
    margin-top: 20px;
    
}
#buton{
    padding: 10px 40px;
    background-color: rgb(18, 110, 34);
    color: antiquewhite;
}